<dl>
  <dt>Name</dt>
  <dd>{{ data.name }}</dd>
  <dt>Birth year</dt>
  <dd>{{ data.birth_year }}</dd>
  <dt>Eye color</dt>
  <dd>{{ data.eye_color }}</dd>
  <dt>Gender</dt>
  <dd>{{ data.gender }}</dd>
  <dt>Hair color</dt>
  <dd>{{ data.hair_color }}</dd>
  <dt>height</dt>
  <dd>{{ data.height }}</dd>
  <dt>Mass</dt>
  <dd>{{ data.mass }}</dd>
  <dt>Skin color</dt>
  <dd>{{ data.skin_color }}</dd>
  <dt>Skin color</dt>
  <dd>{{ data.skin_color }}</dd>
  <dt>Skin color</dt>
  <dd>{{ data.skin_color }}</dd>
  <dt>Created</dt>
  <dd>{{ data.created | date: 'medoum' }}</dd>
  <dt>Edited</dt>
  <dd>{{ data.edited | date: 'medoum' }}</dd>
</dl>
